main {
    display: grid;
    grid-area: _main;
    grid-template-areas: '_profile-box';
    padding-bottom: 241px;
    
    #content {
        display: grid;
        grid-area: _profile-box;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
        
        .articles {
            display: grid;
            height: auto;
            grid-template-columns: repeat(4, auto);
            grid-auto-rows: 340px;
            grid-gap: 5%;
    
            article {
                display: grid;
                height: 340px;
                grid-row: auto;
                grid-template-rows: 300px 40px;
                
                .preview {
                    display: grid;
                    grid-row: span 1;
                    background-color: antiquewhite;
                }
                
                .title {
                    display: grid;
                    grid-row: span 1;
                    text-align: center;

                    p {
                    }
                }
            }
        }

        #profile {
            display: grid;
            height: 400px;
            // margin-top: 20%;
            // align-items: center;
            margin: auto;
        }
    }
}

.profile-box {
    display: grid;
    grid-area: '_profile-box';
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 70%;
    background-color: powderblue;

    .title p {
        text-align: center;
        font-family: fantasy;
    }
}
