body {
    width: 100%;
    height: 100vh;
    margin: 0px;

    .container {
        height: 100%;
        display: grid;
        grid-template-areas: '_header'             
                             '_main'
                             '_footer';
        grid-template-rows: 79px auto 241px;
    }
}

.profile-button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 7px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

a, p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}